# Monorepo .gitignore

# Root
.DS_Store
*.log

# Mobile (Flutter)
mobile/.dart_tool/
mobile/.idea/
mobile/android/.gradle/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock

# Web (React/Vite)
quail_logger_web/node_modules/
quail_logger_web/dist/
quail_logger_web/*.local
quail_logger_web/.eslintcache
