# Monorepo .gitignore

# Root
.DS_Store
*.log

# Mobile (Flutter)
mobile/.dart_tool/
mobile/.idea/
mobile/android/.gradle/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock

# Web (React/Vite)
web/node_modules/
web/dist/
web/*.local
web/.eslintcache
